html {
  text-align: center;
  max-width: 100%;
}

.App {
  text-align: center;
}

#background-image-con {
  position: relative;
  z-index: -11;
  width: 100vw;
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
  /*-webkit-filter: blur(1px);
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/9c/Image-Porkeri_001.jpg");*/
  height: 100vh;
}
#background-image {
  /*filter: blur(1px);
  -webkit-filter: blur(1px);
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.VzNYP_9_xQ9nIGi1TLpxpgEsDh&pid=15.1");*/
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -12;
  padding-top: 200px;
  height: 100vh;
}

#hay1 {
  display: -webkit-inline-box;
}

#hide {
  list-style-type: none;
  justify-content: space-between;
  width: 90vw;
  flex-direction: row;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

#first-one {
  position: relative;
  top: -30px;
}

#nav-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #000;
    border: 0;
    border-radius: 0;
    font-size: 21px;
    letter-spacing: 5px;
  }
  a:hover {
  color: #1abc9c !important;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(0, 208, 58, 0.73);
  font-weight: 100;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 500;
  color: #fff;
  margin-top: -15px;
  letter-spacing: 10px;
  -webkit-font-smoothing:antialiased;
  position: relative;
  top: -3em;
}

#btnContainer {
  flex-direction: column;
  display: flex;
  float: right;
}

#firebaseui-auth-container {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  position: relative;
  top: -500px;
}

#foot {
  padding-top: 10m s0px;
  padding-bottom: 100px;
  padding-top: 100px;
}

li {
  list-style-type: none
}

#usrName {
  position: relative;
  color: #333;
  font-weight: 400;
  padding-bottom: 100px;
  padding-top: 100px;
}

#txtPassword,#txtEmail {
  color: #333;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:200);
.snip1577 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


/* Demo purposes only */

body {
  background-color: #212121;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1570 {
  font-family: 'Poppins', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  font-weight: 300;
}

.snip1570 *,
.snip1570 *:before,
.snip1570 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
}

.snip1570:after {
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
  position: absolute;
  height: 0px;
  width: 0px;
  bottom: -478px;
  right: -478px;
  border-radius: 50%;
  border: 500px solid transparent;
  border-bottom-color: #000000;
  border-right-color: #000000;
  content: '';
  opacity: 0.8;
}

.snip1570 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1570 i {
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-radius: 50%;
  color: #000000;
  display: block;
  z-index: 10;
}

.snip1570 i:before,
.snip1570 i:after {
  border-radius: 50%;
}

.snip1570 i:before {
  color: #ddd;
  background-color: #fff;
  font-size: 37.64705882px;
  line-height: 64px;
  text-align: center;
  width: 64px;
}

.snip1570 i:after {
  position: absolute;
  top: -14px;
  bottom: -14px;
  left: -14px;
  right: -14px;
  border: 15px solid #ddd;
  border-bottom-color: #2980b9;
  border-right-color: #2980b9;
  content: '';
  z-index: -2;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
}

.snip1570 i:hover {
  background-color: #D2B17F;
  cursor: pointer;
}

.snip1570 h3 {
  top: 5px;
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  opacity: 0;
  padding: 10px 15px;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  z-index: 3;
}

.snip1570 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.snip1570:hover:after,
.snip1570.hover:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.snip1570:hover img,
.snip1570.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.snip1570:hover i:before,
.snip1570.hover i:before {
  color: #2980b9;
}

.snip1570:hover i:after,
.snip1570.hover i:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.snip1570:hover h3,
.snip1570.hover h3 {
  opacity: 1;
}


/* Demo purposes only */

body {
  background-color: #212121;
  text-align: center;
}
