html {
  text-align: center;
  max-width: 100%;
}

.App {
  text-align: center;

}

h1 {
  position: relative;
  top: 25px;
  float: left;
}

#background-image-con {
  position: relative;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}
#background-image {
  background-image: url("http://cdn.wallpapersafari.com/27/11/nz5l0D.jpg");
  /*filter: blur(1px);
  -webkit-filter: blur(1px);*/
  width: 100vw;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -12;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#inputs,input {
  position: relative;
  display: block;
  top: 0;
}

.container {
  /*margin:auto;
  margin-top: 0px;
  width: 90%;
  top: 0px;
  position: relative;
  align-items: center;
  align-content: center;
  flex-direction: column-reverse;
  float: right;
  display: flex;
  flex: 1;
  justify-content: space-between;*/
}

#btnLogin,#btnSignUp,#btnLogout{
  display: none;
}

#btnLogin:hover {
  box-shadow: #fff;
}
#btnSignUp:hover {
  box-shadow: #fff;
}
#btnLogout:hover {
  box-shadow: #fff;
}

input {

}

#hay1 {
  display: -webkit-inline-box;
}

#hide {
  list-style-type: none;
  justify-content: space-between;
  width: 90vw;
  flex-direction: row;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgba(6, 23, 106, 0.58);  }
  a:hover {
  color: #1abc9c !important;
}

a {
  list-style-type: none;
  text-decoration: none;
}
#btnContainer {
  flex-direction: column;
  display: flex;
  float: right;
}

#firebaseui-auth-container {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  top: 100px;
}

#foot {
  padding-top: 10m s0px;
  padding-bottom: 100px;
}

#soc,#soc-3 {
  float: left;
  padding-left: 200px;
}

#soc-1,#soc-2 {
  float: right;
  padding-right: 200px;
}

li {
  list-style-type: none
}

#usrName {
  position: relative;
  color: #333;
  font-weight: 400;
  padding-bottom: 100px;
  padding-top: 100px;
}

#txtPassword,#txtEmail {
  color: #333;
}
